.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.card {
  background: #f4f4f4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.question {
  height: min(90vh, 90vw);
  border-radius: 7px;
}

.change {
  background-color: #f4f4f4;
  padding: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}