.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #f4f4f4;
  margin: 0 auto;
}

.question {
  height: 90dvh;
  border-radius: 7px;
}

.change {
  background-color: #f4f4f4;
  padding: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}